/*Color and text-alignment*/

body {
    background-color: #ececec;
}

.bg-light {
    background-color: #ececec !important;
}

.display-3 {
    color: #fff;
}

.lead {
    color: #fff;
}

h1, a, .section-title {
    text-transform: uppercase;
}

div > h2, H3 {
    text-align: center;
    padding: 20px;
}

.material-icons {
    display: inline-block;
    font-size: 70px;
}

.width {
    display: inline-block;
    text-align: center;
}

/*Horizontal lines*/

.my-4 {
    border-top: 1px rgba(0,0,0,.1);
}

.line {
    width: 6%;
    margin: 0 auto;
    border-top: solid 1px #cecece;
    padding: 20px;
}

/*Images*/

.carousel-inner img {
    height: 700px;
}

.jumbotron {
    background: url("img/bg-3.jpg") no-repeat 0 center;
    background-size: cover;
    border-radius: 0;
}

@media (min-width: 992px) {
    .jumbotron {
        padding: 7rem 2rem;
    }
}

/*Form and text*/

form {
    float: right;
}

.control-label {
    display: inline-block;
    width: 200px;
    font-style: italic;
}

.v-align-top {
    vertical-align: top;
}

input {
    width: 303px;
}

form > div, button {
    margin-bottom: 15px;
}

/*Footer*/

footer {
    background-color: #cecece;
    text-align: center;
    padding: 16px;
}